.App {
  text-align: center;
}

.button {
  background-color: #eee;
  border: none;
  color: black;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
}

.header-Cover {
    width: 100%;
    height: 25rem;
    background-image: url("./components/Header/header-x1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Grid Styles */
  .menu-grid {
    display: grid;
    grid-template-columns: 1fr 0.1fr 0.4fr 0.9fr 0.9fr 0.9fr 3fr;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-content: space-around;
  }

  .jsStart {
    justify-self: start;
  }

  .jsEnd {
    justify-self: end;
  }
/*End Grid Styles*/
