.App {
  text-align: center;
}


.button {
  background-color: #eee;
  border: none;
  color: black;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
